<<<<<<< HEAD
<div class="footer">
  Stratagem Web Design Copyright 2019
=======
<div class="footer navbar-fixed-bottom">
  Stratagem Web Design Copyright 2018
>>>>>>> 9d890124d774ed4cc02c9f5d241cad7931670b4b
</div>
