<% include ./partials/header.ejs %>
<div class="second-landing-section">
  <h1 class="bio-header">Who am I?</h1>
  <table>
    <tr>
      <td><img src="../images/me-2.jpg" class="bio-image" alt="Me" /></td>
      <td class="bio-text">
        That's me; at least until I was figured out the hard way that skiing was
        way more difficult than it looked on T.V. My name is Scott, and by day
        I'm an attorney at
        <a href="https://www.nicholegreenelaw.com">Greene Law Offices, PLLC</a>.
        I do mostly trial work, so I spend the vast majority of my day speaking
        to judges and juries about my clients.
        <br />
        <br />
        I began learning about web design about a year ago after I decided that
        I needed that skill for another project I'm working on (more on that in
        a few months), and after getting over the initial learning curve, I fell
        in love with the process. Of course, I kept my day job, but I'd often
        find myself googling web design how-to's while waiting for the court to
        call my cases for hearing and my weekends quickly became multi-hour
        coding binges (much to my wife's annoyance).
        <br />
        <br />
        That leads me to now. I love designing websites, and I would love to
        design yours. Give me the opportunity and I'll bring your website to
        life.
        <br />
        <br />
        <h3>
          Why Pick Me?
        </h3>
        <br />
        Well, first and foremost, this isn't my main source of income. During
        the day I'm an attorney (and if you don't believe me, you can find my
        page at my firm's site
        <a href="https://www.nicholegreenelaw.com/attorneys">here</a>. I made
        that site too, by the way). Because web design is a hobby for me, I don't have to charge the
        same amounts as the other professionals on Upwork. They're
        professionals. I'm not; and, in this case, that's a very good thing.
        <br /> 
        <br />
        Second, I'm based here in the US. No waiting on responses to emails
        overnight. No misunderstandings due to language difficulties.
        <br />
        <br />
        Third. I love this, and it shows in my work. I do this stuff on nights
        and weekends for fun anyway, so I have the experience to bring your
        vision into reality.
      </td>
    </tr>
  </table>
</div>
<% include ./partials/footer.ejs %>
