<% include ./partials/header.ejs %>
<div class="second-landing-section">
  <div class="first-faq-text">
    <h1>Frequently Asked Questions</h1>
    <ol>
      <li>Q: Why don't you charge more?<br>A: Because I'm an attorney during the day and this isn't my primary source of income.
      I truly enjoy the creative process and I'd love to help you design your site. To be clear, there are some situations where I
      have to ask for a higher price, but that's because the client wants certain backend functionality. To be clear, I don't
      believe in "gotcha" pricing. If I have to charge you more, you'll know the total before you ever agree to work with me.</li>
      <br>
      <li>Q: Why isn't your site as fancy as some others I've seen?<br>A: Because this isn't my main job, I'm still learning some
      of the finer points of web design. Regardless, I'm learning more all the time, and if you have a specific request, by all means let
      me know. Theres a very good chance that I can figure out how to do it.</li>
      <br>
      <li>Q: I need more than just a web page. I need login/profiles/database functionality too. Can you help me?<br>
      A: Absolutely. I've built several sites that contain one or all of those features. It does take quite a bit longer though
      so reach out, and we'll figure out your one-time price</li>
      <br>
      <li>Q:How much do you charge?<br>A: You can find that information <a href="/pricing">here.</a></li>
      <br>
      <li>Q:Why do you keep pushing Upwork.com?<br>A: I only user Upwork to promote my services and they require that you use them
      to hire me. Also, just my personal opinion, but I really like the site and I want to support them.</li>
    </ol>
  </div>
</div>
<% include ./partials/footer.ejs %>
