<% include ./partials/header.ejs %>

<div class="jumbotron">
  <h1 class="display-3 jumbotron-badge-title center">Stratagem Web Design</h1>
  <a class="btn jumbotron-btn center" href="#" role="button">Get Started</a>
</div>
<div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h2>Affordable Webpage Design</h2>
    </div>
    <div class="carousel-item">
      <h2>Work one-on-one with me until the site is exactly what you want</h2>
    </div>
    <div class="carousel-item">
      <h2>Most sites can be finished in under a week</h2>
    </div>
  </div>
</div>
<div class="first-landing-section">
  <h3>Need to make a website? Want someone to do it for you? Great!</h3>
</div>
<div class="second-landing-section">
  <div class="second-landing-text">
    <h5>
      Don't get me wrong. I think web design is awesome and super calming, but I definitely get that it's not for everyone.
      If you don't feel like making your own site, I'll do it for you for a single, reasonably priced fee. <br>
      <h1>Why Pick Me?</h1><h6>Well, first and foremost, this isn't my main source of income. During the day I'm an attorney
      (and if you don't believe me, you can find my page at my firm's site <a href="https://www.nicholegreenelaw.com/attorneys">here</a>.
      I made that site too, by the way). Second, because web design is a hobby for me, I don't have to charge the same amounts as the other
    professionals on Upwork. They're professionals. I'm not; and, in this case, that's a very good thing. Third, I'm based here in
  the US. No waiting on responses to emails overnight. No misunderstandings due to language difficulties. Fourth. I love this, and it
shows in my work. I do this stuff on nights and weekends for fun anyway, so I have the experience to bring your vision into reality.</h6>
    </h5>
  </div>
</div>
<% include ./partials/footer.ejs %>
