<% include ./partials/header.ejs %>
<div class="jumbotron">
  <h1 class="display-2 jumbotron-badge-title">Stratagem Web Design</h1>
  <h3 class="text">Custom, Uncomplicated, Websites</h3>
  <a class="btn jumbotron-btn" href="https://www.upwork.com/freelancers/~012381079a4f67f92c" role="button">Get Started</a>
</div>
<% include ./partials/footer.ejs %>