<% include ./partials/header.ejs %>

<div class="jumbotron">
  <h1 class="display-3 jumbotron-badge-title center">Stratagem Web Design</h1>
  <a class="btn jumbotron-btn center" href="https://www.upwork.com/freelancers/~012381079a4f67f92c" role="button">Get Started</a>
</div>
<div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h2>Affordable Webpage Design</h2>
    </div>
    <div class="carousel-item">
      <h2>Work one-on-one with me until the site is exactly what you want</h2>
    </div>
    <div class="carousel-item">
      <h2>Most sites can be finished in under a week</h2>
    </div>
  </div>
</div>
<div class="first-landing-section">
  <h3>Need to make a website? Want someone to do it for you? Great!</h3>
</div>
<% include ./partials/footer.ejs %>
