<% include ./partials/header.ejs %>
<body class="site">
  <main class="site-content">
    <div class="jumbotron">
      <div id="jumbotron-content">
        <h1 class="display-3 jumbotron-badge-title center">
          Stratagem Web Design
        </h1>
        <a href="#"
          ><button type="button" class="btn btn-lg jumbotron-btn">
            Get Started
          </button></a
        >
      </div>
    </div>
  </main>
</body>
<% include ./partials/footer.ejs %>
