<% include ./partials/header.ejs %>
<head>
  <style>
    body {
      background-color: #011105;
    }
</style>
</head>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <a href="http://www.nicholegreenelaw.com">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../images/greenelawsitethumb.PNG" alt="Greene Law Offices PLLC Site">
        <div class="carousel-caption d-none d-md-block">
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <a href="https://www.queencityrotary7680.org/">
        <img class="d-block w-100" src="../images/qcr.png" alt="Queen City Rotary Site">
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://www.trialfileapp.com/">
        <img class="d-block w-100" src="../images/trialfile.png" alt="Trialfile Site">
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<% include ./partials/footer.ejs %>
