<% include ./partials/header.ejs %>
<div class="first-pricing-section">
  <div class="first-pricing-table">
    <table>
      <tr>
        <th>Service</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      <tr>
        <td class='first-client-special'>First-Client Special</td>
        <td class='first-client-special'>Breaking into the web design market is hard. Because I just launched this site, I don't have any reviews...yet.
        If you happen to be my first client, I'll design your site for free. All I ask is that you leave me a review on Upwork.com when I'm done.
        </td>
        <td class='first-client-special'>Free, and if you're seeing this row, this offer is still available.</td>
      </tr>
      <tr>
        <td>Appearance Only Web Design</td>
        <td>I set up how your site looks, create relevant links, and insert any content and/or pictures you may want to use.
        The site conveys information, but does not have any other functionality.</td>
        <td>$250.00 (Flat, One-Time, Fee)</td>
      </tr>
      <tr>
        <td>Websites with Additional Functionality
        <td>Not only do you want me to design how your site looks, but you also want me to build other features such as user profiles
        login capability, password reset, etc. </td>
        <td>That's definitely an option, but I can't quote an accurate price until you tell me what exactly you want the
        site to do. Let's go over your project and I'll give you my one-time fee.</td>
      </tr>
    </table>
  </div>
</div>
<% include ./partials/footer.ejs %>
