<% include ./partials/header.ejs %>
<div class="third-landing-section">
<div class="third-landing-text">
  <h1>How does it work? It's easy.</h1>
    <h5>
      <ol>
        <li>Sign up through Upwork.com</li>
        <li>Tell me what you want me to create.</li>
        <li>I create it and you provide input and request changes along the way.</li>
        <li>I finish your site and send you the files. Want me to arrange hosting? I can do that too.</li>
        <li>Love your new webapge (and check-in from time to time)</li>
      </ol>
    </h5>
  </div>
</div>
<% include ./partials/footer.ejs %>
