<% include ./partials/header.ejs %>
  <h1 style="text-align: center; margin-top: 2%; margin-bottom: 2%;">My Process: Efficient. Effective. Uncomplicated.</h1>
  <div class="flex-container">
  <table>
    <tr>
      <td class="primary-color-step" ><img src="../images/sign-up.jpg" alt="Meet with me" class="process-image" id="primary-process-image"></td>
      <td class="primary-color-step"><h2 class="cell-text">Reach out we'll discuss what you want in your site.</h2></td>
    </tr>
    <br>
    <tr>
      <td class="secondary-color-step"><h2 class="cell-text">I create it and you provide input and request changes along the way.</h2></td>
      <td class="secondary-color-step"><img src="../images/create.jpg" class="process-image" alt="I'll make the site"></td>
    </tr>
    <br>
    <tr>
      <td class="primary-color-step"><img src="../images/deliver.jpg" class="process-image" id="primary-process-image" alt="I'll finish and deliver your site"></td>
      <td class="primary-color-step"><h2 class="cell-text">I finish your site and send you the files. <br> Want me to arrange hosting? <br> I can do that too.</h2></td>
    </tr>
    <br>
    <tr>
      <td class="secondary-color-step"><h2 class="cell-text">Love your new site.</h2></td>
      <td class="secondary-color-step"><img src="../images/high-five.jpg" class="process-image" alt="Meet with me"></td>
    </tr>
  </table>
  </div>
</div>
<% include ./partials/footer.ejs %>
