<% include ./partials/header.ejs %>
  <h1 style="text-align: center; margin-top: 2%; margin-bottom: 2%;">My Process: Efficient. Effective. Uncomplicated.</h1>
  <div class="flex-container">
  <table>
    <tr>
      <td class="primary-color-step" ><img src="../images/sign-up.jpg" class="process-image"></td>
      <td class="primary-color-step"><h2>Sign up through <a href='https://www.upwork.com/freelancers/~012381079a4f67f92c'>Upwork.com</a></h2></td>
    </tr>
    <br>
    <tr>
      <td class="secondary-color-step"><h2>Tell me what you want me to create.</h2></td>
      <td class="secondary-color-step"><img src="../images/meeting-table.jpg" class="process-image" alt="Meet with me"></td>
    </tr>
    <br>
    <tr>
      <td class="primary-color-step"><img src="../images/create.jpg" class="process-image" alt="I'll make the site"></td>
      <td class="primary-color-step"><h2>I create it and you provide input and request changes along the way.</h2></td>
    </tr>
    <br>
    <tr>
      <td class="secondary-color-step"><h2>I finish your site and send you the files. <br> Want me to arrange hosting? <br> I can do that too.</h2></td>
      <td class="secondary-color-step"><img src="../images/deliver.jpg" class="process-image" alt="I'll finish and deliver your site"></td>
    </tr>
    <br>
    <tr>
      <td class="primary-color-step"><img src="../images/high-five.jpg" class="process-image" alt="Meet with me"></td>
      <td class="primary-color-step"><h2>Love your new site <br> (and check-in from time to time..I love seeing what my clients are doing with their businesses!).</h2></td>
    </tr>
  </table>
  </div>
</div>
<% include ./partials/footer.ejs %>
