<% include ./partials/header.ejs %>
  <style>
    body {
      background-color: #efedef;
    }
  </style>
<div class="process-page">
<div class="process-container">
  <h1 class = 'process-header'>My Process: Efficient. Effective. Uncomplicated.</h1>
  <table>
    <tr>
      <td class="primary-color-step" ><img src="../images/sign-up.jpg" alt="Meet with me" class="process-image"></td>
      <td class="primary-color-step"><h2>Sign up through Upwork.com</h2></td>
    </tr>
    <br>
    <tr>
      <td class="secondary-color-step"><h2>Tell me what you want me to create.</h2></td>
      <td class="secondary-color-step"><img src="../images/meeting-table.jpg" class="process-image" alt="Meet with me"></td>
    </tr>
    <br>
    <tr>
      <td class="primary-color-step"><img src="../images/create.jpg" class="process-image" alt="I'll make the site"></td>
      <td class="primary-color-step"><h2>I create it and you provide input and request changes along the way.</h2></td>
    </tr>
    <br>
    <tr>
      <td class="secondary-color-step"><h2>I finish your site and send you the files. <br> Want me to arrange hosting? <br> I can do that too.</h2></td>
      <td class="secondary-color-step"><img src="../images/deliver.jpg" class="process-image" alt="I'll finish and deliver your site"></td>
    </tr>
    <br>
    <tr>
      <td class="primary-color-step"><img src="../images/high-five.jpg" class="process-image" alt="Meet with me"></td>
      <td class="primary-color-step"><h2>Love your new webapge <br> (and check-in from time to time..I love seeing what my clients are doing with their businesses!)</h2></td>
    </tr>
  </table>
  </div>
</div>
<% include ./partials/footer.ejs %>
