<% include ./partials/header.ejs %>
<div class="third-landing-section">
<div class="third-landing-text">
  <h1 class = 'process-text'>How does it work? It's easy.</h1>
  <table>
    <tr>
      <td><img src="../images/sign-up.jpg" class="process-image" alt="Meet with me"></td>
      <td>Sign up through Upwork.com</td>
    </tr>
    <br>
    <tr>
      <td><img src="../images/meeting-table.jpg" class="process-image" alt="Meet with me"></td>
      <td>Tell me what you want me to create.</td>
    </tr>
    <br>
    <tr>
      <td><img src="../images/create.jpg" class="process-image" alt="I'll make the site"></td>
      <td>I create it and you provide input and request changes along the way.</td>
    </tr>
    <br>
    <tr>
      <td><img src="../images/deliver.jpg" class="process-image" alt="I'll finish and deliver your site"></td>
      <td>I finish your site and send you the files. Want me to arrange hosting? I can do that too.</td>
    </tr>
    <br>
    <tr>
      <td><img src="../images/high-five.jpg" class="process-image" alt="Meet with me"></td>
      <td>Love your new webapge (and check-in from time to time)</td>
    </tr>
  </table>
  </div>
</div>
<% include ./partials/footer.ejs %>
