a {
<<<<<<< HEAD
  color: #4464ad;
}

a:hover {
  color: #5f0196;
  text-decoration: underline;
}

body {
  background-color: #fff;
  margin: 0 0 1.5em; /* bottom = footer height */
  font-family: 'Darker Grotesque', sans-serif;
}

.navbar {
  background-color: #4A005B;
}

.navbar-brand {
  color: #4A005B;
  font-size: 1.75em;
}

.nav-item {
  list-style-type: none;
  color: #000;
}

.navbar-nav > li {
  font-size: 1.25em;
  padding: 0 50px;
  color: #000;
=======
  color: #000;
}

a:hover {
  color: #000;
}

.btn {
border: 1px solid #0031a2;
border-radius: 5%;
background-color: #0031a2;
color: #fff;
font-size: 2em;
margin-left: 20%;
margin-top: 1%;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.navbar{
  background-color: #000;
}

.navbar a {
  color: #fff;
}

.navbar-brand {
  color:#fff;
>>>>>>> 9d890124d774ed4cc02c9f5d241cad7931670b4b
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../images/laptop-book.jpg);
  height: calc(92vh);
  background-position: center center;
<<<<<<< HEAD
  height: 90vh;
  margin-bottom: 0;
  border-radius: 0;
}

#jumbotron-content {
  margin-top: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.jumbotron-btn {
  background-color: #bdc1cb;
  font-size: 2.5vw;
  font-weight: bold;
  color: #000;
  border: 2px solid #bdc1cb;
  border-radius: 25px;
  margin-top: 2%;
  margin-left: 20%;
}

.jumbotron-btn:hover {
  background-color: #004da4;
  border: 2px solid #004da4;
  border-radius: 25px;
  color: #efedef;
  font-weight: bold;
}

.jumbotron-badge-title {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 50%;
  font-size: 5em;
  color: #efedef;
  text-align: center;
  background-color: #080a0c;
  border: 2px solid #080a0c;
  border-radius: 25px;
  padding: 0.5em;
}

.carousel-slide {
  height: 10%;
  text-align: center;
  background-color: #bdc1cb;
  color: #000;
  padding:0.7vw;
  font-size: 1vw;
}

.carousel-inner {
  height: 80%;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 2.0vw;
}

.first-landing-section {
  padding: 1vw;
  height: 6vw;
  background-color: #004da4;
  color: #efedef;
  text-align: center;
  padding-bottom: 1vw;
}

.second-landing-section {
  padding: 0.75em;
  height: 28vh;
  width: 100%;
  background-color: #fff;
  align-content: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 1em;
}

.second-landing-text {
  border: 0.25em solid #efedef;
  background-color: #202021;
  border-radius: 25px;
  padding: 2.75em;
  color: #efedef;
  text-align: center;
  margin-bottom: 3em;
}

.bio-header {
  color: #fff;
  font-size: 3vw;
  text-align: center;
  background-color: #2B2D42;
  border-left: 0em solid #2B2D42;
  border-right: 0em solid #2B2D42;
}

.bio-image {
  max-width: 22em;
  max-height: 22em;
}

.bio-text {
  color: #202021;
  text-align: justify;
  font-size: 1.3em;
}

.cell-text {
  vertical-align: center;
}

.process-container {
  padding: 0.75em;
  height: 25em;
  background-color: #efedef;
  align-content: center;
  text-align: center;
  color: #efedef;
}

.process-header {
  text-align: center;
  font-size: 2.5vw;
  border: 0.1em solid #000;
  background-color: #080a0c;
  padding: 0.1em;
  margin-bottom: -3%;
}

.primary-color-step {
  background-color: #2B2D42;
  border-left: 0em solid #2B2D42;
  border-right: 0em solid #2B2D42;
}

.secondary-color-step {
  background-color: #efedef;
  color: 080a0c;
  border-left: 0em solid #efedef;
  border-right: 0em solid #efedef;
}

.first-pricing-section{
  padding: 0.75em;
  height: 28em;
  background-color: #efedef;
  align-content: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.first-pricing-table{
  border: 0.5em solid #929caa;
  background-color: #202021;
  border-radius: 25px;
  padding: 3em;
  color: #efedef;
  text-align: left;
  width: 100%;
  border-spacing: 2em;
  border-collapse: separate;
}

table, th, td {
  width: 100%;
  color: #efedef;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1vw;
}

tr {
  display: flex;
  justify-content: space-around;
}

th {
  background-color: #929caa;
  color: #000;
  text-align: center;
}

.first-client-special {
  background-color: #0d8918;
}

.cell-text {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  font-size: 1.75em;
}

.process-image {
  max-width: 30em;
  max-height: 30em;
  box-shadow: 10px 5px 5px #bdbdbd;
}

#primary-process-image {
  box-shadow: 10px 5px 5px #121212;
}

.first-faq-text{
  border: 0.5em solid #929caa;
  background-color: #080a0c;
  border-radius: 25px;
  padding: 2.75em;
  color: #efedef;
  text-align: left;
}

#faq-btn {
  background-color: #2B2D42;
  font-size: 2vw;
  font-weight: bold;
  color: #bdbdbd;
  border: none;
  border-radius: 0%;
  margin-top: 1em;
  border-left: 1em solid #2B2D42;
  border-right: 1em solid #2B2D42;
  border-radius: 25px;
  margin-left: 10em;
}

#faq-btn:hover {
  background-color: #004da4;
  color: #efedef;
  font-weight: bold;
  border-left: 1em solid #004da4;
  border-right: 1em solid #004da4;
=======
  margin-bottom: 0em;
  border-radius: 0%;
}

.jumbotron-badge-title {
  margin-top: 13%;
  color: #fff;
}

.process-image {
  height: 50%;
  width: 80%;
}

.primary-color-step {
  text-align: center;
}

.secondary-color-step {
  text-align: center;
}

.portfolio-image {
  width: 90%;
  height: 50%;
  margin-top: 2%;
  margin-left: 5%;
}

.text {
  color: #fff;
  margin-left: 13%;
>>>>>>> 9d890124d774ed4cc02c9f5d241cad7931670b4b
}

.footer {
  width: 100%;
<<<<<<< HEAD
  font-size: 0.80vw;
  background-color:#4A005B;
  color: #efedef;
  height: 1.75em;
=======
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
>>>>>>> 9d890124d774ed4cc02c9f5d241cad7931670b4b
  text-align: center;
}

@media only screen and (max-width: 870px) {

  #jumbotron-content {
    display: flex;
    flex-direction: column;
  }

  .jumbotron-badge-title {
    margin-left: 5%;
    width: 50%;
    font-size: 3.5em;
    color: #efedef;
    text-align: center;
    background-color: #080a0c;
    border: 2px solid #080a0c;
    border-radius: 25px;
    padding: 0.5em;
  }

  .jumbotron-btn {
    background-color: #bdc1cb;
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    border: 2px solid #bdc1cb;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: 16%;
  }

}