a {
  color: #4464ad;
}

a:hover {
  color: #5f0196;
  text-decoration: underline;
}

body {
  background-color: #fff;
  font-family: 'Darker Grotesque', sans-serif;
}

.navbar {
  background-color: #4a005b;
}

.navbar-brand {
  color: #4a005b;
  font-size: 1.75em;
}

.nav-item {
  list-style-type: none;
  color: #000;
}

.navbar-nav > li {
  font-size: 1.25em;
  padding: 0 50px;
  color: #000;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url(../images/laptop-book.jpg);
  height: calc(92vh);
  background-position: center center;
  height: 90vh;
  margin-bottom: 0;
  border-radius: 0;
}

#jumbotron-content {
  margin-top: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.jumbotron-btn {
  background-color: #bdc1cb;
  font-size: 2.5vw;
  font-weight: bold;
  color: #000;
  border: 2px solid #bdc1cb;
  border-radius: 25px;
  margin-top: 2%;
  margin-left: 20%;
}

.jumbotron-btn:hover {
  background-color: #004da4;
  border: 2px solid #004da4;
  border-radius: 25px;
  color: #efedef;
  font-weight: bold;
}

.jumbotron-badge-title {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 50%;
  font-size: 5em;
  color: #efedef;
  text-align: center;
  background-color: #080a0c;
  border: 2px solid #080a0c;
  border-radius: 25px;
  padding: 0.5em;
}

.carousel-slide {
  height: 10%;
  text-align: center;
  background-color: #bdc1cb;
  color: #000;
  padding: 0.7vw;
  font-size: 1vw;
}

.carousel-inner {
  height: 80%;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 2vw;
}

.first-landing-section {
  padding: 1vw;
  height: 6vw;
  background-color: #004da4;
  color: #efedef;
  text-align: center;
  padding-bottom: 1vw;
}

.bio-section {
  padding: 0.75em;
  height: 28vh;
  width: 100%;
  background-color: #fff;
  align-content: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 1em;
}

.second-landing-text {
  border: 0.25em solid #efedef;
  background-color: #202021;
  border-radius: 25px;
  padding: 2.75em;
  color: #efedef;
  text-align: center;
  margin-bottom: 3em;
}

.bio-header {
  color: #fff;
  font-size: 3vw;
  text-align: center;
  background-color: #2b2d42;
  border-left: 0em solid #2b2d42;
  border-right: 0em solid #2b2d42;
}

.bio-image {
  margin-top: 10%;
  max-width: 26em;
  max-height: 26em;
}

.bio-text {
  color: #202021;
  text-align: justify;
  font-size: 1.3em;
}

.cell-text {
  vertical-align: center;
}

.process-container {
  padding: 0.75em;
  background-color: #efedef;
  text-align: center;
  color: #efedef;
}

.process-header {
  text-align: center;
  font-size: 2.5vw;
  border: 0.1em solid #000;
  background-color: #080a0c;
  padding: 0.3em;
  margin-bottom: -3%;
  color: #fff;
}

.primary-color-step {
  background-color: #2b2d42;
  border-left: 0em solid #2b2d42;
  border-right: 0em solid #2b2d42;
}

.secondary-color-step {
  background-color: #efedef;
  color: #080a0c;
  border-left: 0em solid #efedef;
  border-right: 0em solid #efedef;
}

.first-pricing-section {
  padding: 0.75em;
  height: 28em;
  align-content: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.first-pricing-table {
  border: 0.5em solid #929caa;
  background-color: #202021;
  border-radius: 25px;
  padding: 3em;
  color: #efedef;
  text-align: left;
  width: 100%;
  border-spacing: 2em;
  border-collapse: separate;
}

table,
th,
td {
  width: 100%;
  color: #efedef;
  padding: 1em;
  text-align: center;
  font-size: 1vw;
}

table {
  margin-bottom: 1.5em;
  margin-top: -1em;
}

tr {
  display: flex;
  justify-content: space-around;
}

th {
  background-color: #929caa;
  color: #000;
  text-align: center;
}

.first-client-special {
  background-color: #004da4;
}

.cell-text {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  font-size: 1.75em;
}

.process-image {
  max-width: 30em;
  max-height: 30em;
  box-shadow: 10px 5px 5px #bdbdbd;
}

#primary-process-image {
  box-shadow: 10px 5px 5px #121212;
}

.first-faq-text {
  border: 0.5em solid #929caa;
  background-color: #080a0c;
  border-radius: 25px;
  padding: 2.75em;
  color: #efedef;
  text-align: left;
}

#faq-btn {
  background-color: #2b2d42;
  font-size: 2vw;
  font-weight: bold;
  color: #bdbdbd;
  border: none;
  border-radius: 0%;
  margin-top: 1em;
  border-left: 1em solid #2b2d42;
  border-right: 1em solid #2b2d42;
  border-radius: 25px;
  margin-left: 10em;
}

#faq-btn:hover {
  background-color: #004da4;
  color: #efedef;
  font-weight: bold;
  border-left: 1em solid #004da4;
  border-right: 1em solid #004da4;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.8vw;
  background-color: #4a005b;
  color: #efedef;
  height: 1.75em;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .jumbotron-badge-title {
    margin-left: 5%;
    width: 50%;
    font-size: 3em;
    color: #efedef;
    text-align: center;
    background-color: #080a0c;
    border: 2px solid #080a0c;
    border-radius: 25px;
    padding: 0.5em;
  }

  .jumbotron-btn {
    background-color: #bdc1cb;
    font-size: 2.25em;
    font-weight: bold;
    color: #000;
    border: 2px solid #bdc1cb;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: 16%;
  }

  .bio-header {
    font-size: 2.5em;
  }

  .bio-text {
    font-size: 3em;
  }

  .bio-image {
    margin-top: 15%;
    max-width: 30em;
    max-height: 60em;
  }

  .carousel-inner {
    margin-top: 20vh;
  }

  table,
  th,
  td {
    width: 100%;
    color: #efedef;
    padding: 1em;
    text-align: center;
    font-size: 2vw;
  }

  table {
    margin-bottom: 1.5em;
    margin-top: -2.15em;
  }

  tr {
    display: flex;
    justify-content: space-around;
  }

  th {
    background-color: #929caa;
    color: #000;
    text-align: center;
  }

  .first-pricing-section {
    padding: 0.75em;
    height: 50em;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .first-pricing-table {
    margin-top: 0.15em;
    font-size: 10em;
    height: 75vh;
    border: 0.1em solid #929caa;
    background-color: #202021;
    border-radius: 25px;
    padding: 0.25em;
    color: #efedef;
    text-align: left;
    width: 100%;
    border-spacing: 2em;
    border-collapse: separate;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.75vw;
    background-color: #4a005b;
    color: #efedef;
    height: 1.75em;
    text-align: center;
  }
}

@media only screen and (min-height: 896px) { 

  .jumbotron-badge-title {
    margin-left: 5%;
    width: 50%;
    font-size: 3em;
    color: #efedef;
    text-align: center;
    background-color: #080a0c;
    border: 2px solid #080a0c;
    border-radius: 25px;
    padding: 0.5em;
  }

  .jumbotron-btn {
    background-color: #bdc1cb;
    font-size: 2.25em;
    font-weight: bold;
    color: #000;
    border: 2px solid #bdc1cb;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: 16%;
  }

  .bio-header {
    font-size: 3em;
  }

  .bio-text {
    font-size: 1em;
  }

  .bio-image {
    margin-top: 15%;
    max-width: 12em;
    max-height: 12em;
  }

  .carousel-inner {
    margin-top: 20vh;
  }

  table,
  th,
  td {
    width: 100%;
    color: #efedef;
    padding-bottom: 3%;
    text-align: center;
    font-size: 2.1vw;
  }

  table {
    margin-bottom: 1.5em;
  }

  tr {
    display: flex;
    justify-content: space-around;
  }

  th {
    background-color: #929caa;
    color: #000;
    text-align: center;
  }

  .process-header {
    font-size: 3em;
    margin-bottom: -0.75em;
  }

  .first-pricing-section {
    padding: 0.75em;
    height: 25em;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .first-pricing-table {
    margin-top: 0.15em;
    font-size: 10em;
    height: 25vh;
    border: 0.1em solid #929caa;
    background-color: #202021;
    border-radius: 25px;
    padding: 0.25em;
    color: #efedef;
    text-align: left;
    width: 100%;
    border-spacing: 2em;
    border-collapse: separate;
  }

  .carousel-inner {
    width: 42em;
    height: 50em;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 2vw;
    background-color: #4a005b;
    color: #efedef;
    height: 1.75em;
    text-align: center;
  }

}
